<h1 class = "poem-title">
<%= @new_word %>
</h1>
<article class="row">
	<!-- THE LONG POEM -->
<section class="col-md-6  col-sm-6 col-xs-6">	
<!-- PLACE THE FIRST TWO LINES TOGETHER -->
<section class="line-wrapper"> 
		<section class="lefto col-md-6 col-sm-6 col-xs-6">
			<p> <%= @first_left.join(" ") %> </p>
		</section>
		<section class="righty col-md-6 col-sm-6 col-xs-6">
			<p> <%= @first_right.join(" ") %> </p>
		</section>	
	</section>
<!-- PLACE SHUFFLEDPOEM -->
<% @Ace.in_groups_of(2, false) do |shard| %>

	<section class="line-wrapper"> 
		<section class="lefto col-md-6 col-sm-6 col-xs-6">
			<p> <%= shard[0].join(" ") %> </p>
		</section>
		<section class="righty col-md-6 col-sm-6 col-xs-6">
			<p> <%= shard[1].join(" ") if shard[1].present? %> </p>
		</section>
		<br>
	</section>

<% end %>
<!-- PLACE THE LAST LINES TOGETHER -->
<section class="line-wrapper"> 
		<section class="lefto col-md-6 col-sm-6 col-xs-6">
			<p> <%= @last_left.join(" ") %> </p>
		</section>
		<section class="righty col-md-6 col-sm-6 col-xs-6">
			<p> <%= @last_right.join(" ") %> </p>
		</section>	
	</section>
</section>
<!-- END THE LONG POEM..for now -->