<h1 class = "poem-title">
<%= @new_word %>
</h1>

<section class="row line-wrapper"> 
		<section class="lefto col-md-6">
			<p> <%= @first_left.join(" ") %> </p>
		</section>
		<section class="righty col-md-6">
			<p> <%= @first_right.join(" ") %> </p>
		</section>	
	</section>

<% @Ace.in_groups_of(2, false) do |shard| %>

	<section class="row line-wrapper"> 
		<section class="lefto col-md-6">
			<p> <%= shard[0].join(" ") %> </p>
		</section>
		<section class="righty col-md-6">
			<p> <%= shard[1].join(" ") if shard[1].present? %> </p>
		</section>
	</section>

<% end %>

<section class="row line-wrapper"> 
		<section class="lefto col-md-6">
			<p> <%= @last_left.join(" ") %> </p>
		</section>
		<section class="righty col-md-6">
			<p> <%= @last_right.join(" ") %> </p>
		</section>	
</section>
