<%= provide(:title, "Spuilyie") %>
<%= render 'layouts/omphalos' %>
<!-- The TITLE -->
<article class="row">
	<section class="col-md-offset-4 col-sm-offset-2 col-xs-offset-2">
	<h1>spuilyie</h1>
	</section>
</article>
<!-- THE POEM -->
<article class="row">
	<section class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12 spuilyie">
	<h3>Spuilyie -> uly  spuilyie, sapuiilyiae pyie, sepiuilyoieei, sepuiolyie pe sopiuilayie, spuilyie pilyie spuiy, spuilyie spulyie, spauilyie. Sepauiliyoie slyie, sopouailyioea.
	Uilyi plie, spauiilyie, yie sy se, spuilyie puilyie, sapuialoyiieo, spuiolyie p spulye. Spuoiilyie spiuilyie sepeuaiolyieo. Sipuielayoiee spouailiyiei, sipauilyiee.</h3>
	</section>
</article>
<article class="row">
	<section class="text-center">
		<%= audio_tag("speilyei.mp3", autoplay: true, controls: true) %>
	</section>
</article>
<article class="row">
	<section class="text-center">
		<%= audio_tag("speul2.mp3", autoplay: true, controls: true) %>
	</section>
</article>
<article class="row">
	<section class="text-center">
		<%= audio_tag("spel3.mp3", autoplay: true, controls: true) %>
	</section>
</article>
<article class="row">
	<section class="text-center">
		<%= audio_tag("spel4.mp3", autoplay: true, controls: true) %>
	</section>
</article>
<article class="row">
	<section class="text-center">
		<%= audio_tag("spel5.mp3", autoplay: true, controls: true) %>
	</section>
</article>
<article class="row">
<%= image_tag("spell2.png", alt: "spuilyie!", class: "img-responsive center-block") %>
<%= image_tag("spell3.png", alt: "spuilyie!", class: "img-responsive center-block") %>
<%= image_tag("spell4.png", alt: "spuilyie!", class: "img-responsive center-block") %>
</article>




